// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6c7a89;
$dark-gray: #4d5257;
$light-gray: #f2f4f6;
$dark-blue: #011936;
$middle-blue: #1d2e64;
