// Specific CSS for your home-page
.homepage-background {
  background-color: $dark-blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-gray;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.homepage-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.homepage-h1 {
  width: 500px;
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.homepage-box p {
  position: relative;
  width: 400px;
  font-size: 15px;
  font-family: 'Space Grotesk', sans-serif;
}

.homepagelogo {
  position: absolute;
  top: 30px;
  left: 50px;
}

.homepage-gif {
  position: absolute;
  bottom: -60px;
  right: -60px;
  transform: rotate(315deg);
  width: 500px;
}

.white-arrow {
  position: absolute;
  left: 450px;
  transform: rotate(290deg);
  width: 200px;
  top: 379px;
}
