<% @disable_nav = true %>
<% @disable_foot = true %>

<div class="homepage-background">
  <div class="homepage-box">
    <h1 class="homepage-h1">Gaming Next</h1>
    <p>You don’t know <strong>what to play ?</strong></p>
    <p><strong>We got you !</strong></p>
    <p>Just click on search, </p>
    <p>follow the instructions, </p>
    <p>and <strong>find the best game for you !</strong></p>

    <%= link_to "Search", favorites_path, class: "button button-dark-blue button-big" %>
  </div>
    <div class="homepage-comments">
      <p>Over <strong>8000 games</strong> are waiting for you. Discover our <strong>enhanced algorithm</strong> to find the best match based on your favorites games !</p>
    </div>
</div>
