.cards-container {
  display: flex;
  position: relative;
}

.game-cover {
  height: 450px;
  width: 300px;
  border-radius: 5px;
}

.game-card {
  position: relative;
  text-align: center;
  margin: 15px;
}

.card-blur {
  height: 100%;
  width: 100%;
  color: black;
  opacity: 1;
}

.banner {
  padding-bottom: 180px;
}

.secret {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 160px;
  left: 85px;
  font-size: 30px;
}
