.banner {
  background-image: asset-url('banner.jpg');
}

.searchbarcontainer {
 width: 600px;
 display: flex;
 margin: 0 auto;
 height: 200px;
 z-index: 11;
 position: relative;

}

.searchbar {
  width: 433px;
}
.searchbarlist {
  list-style: none;
  background-color: white;
  width: 600px;
  margin-bottom: 100px;
  border-radius: 0 0 5px 5px;
  padding-left: 3px;
  padding-right: 3px;

  a {
    text-decoration: none;
    color: black;
  }

  li:hover {
    transition: 0.2s;
    color: white;
      background-color: black;

    a {
      transition: 0.3s;
      color: white;
      background-color: black;

    }
  }

}
