.banner {
  background-image: asset-url('banner.jpg');
}

.searchbarcontainer {
 width: 600px;
 display: flex;
 margin: 0 auto;
}

.searchbarlist {
  list-style: none;
  background-color: beige;
  width: 600px;

  a {
    text-decoration: none;
    color: black;
  }
}
