.banner {
  background-image: asset-url('banner.jpg');
}

.searchbarcontainer {
 width: 600px;
 display: flex;
 margin: 0 auto;
 height: 90px;
 z-index: 11;
 position: relative;
 display: flex;
 justify-content: center;
}

.searchbar {
  width: 433px;
}

.searchbarlist {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.727);
  width: 600px;
  // margin-bottom: 100px;
  border-radius: 0 0 5px 5px;
  padding-left: 3px;
  padding-right: 3px;

  a {
    text-decoration: none;
    color: black;
  }

  li {
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 2px;
    border-bottom: solid 0.5px;
  }
}

.add {
  margin-left: 10px ;
  i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
  }
}

.remove {
  margin-left : 10px;
}

.remove:hover {
  i{
    transition: 0.3s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
  }
}

.add:hover {
  i{
    transition: 0.3s;
    color: black;
  }
}

@media(max-width: 760px) {
  .searchbar {
    width: 360px;
  }

  .searchbarlist {
    width: 360px;
  }

  .searchbarcontainer {
    width: 360px;
  }
}
