.card-suggest {
  overflow: hidden;
  height: 200px;
  background: $middle-blue;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 49%;
  border-radius: 5px;
}

.card-suggest img {
  height: 150px;
  width: webkit-fit-content;
  border-radius: 5px;
}

.card-suggest h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
}

.card-suggest p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.suggest-rating {
  i {
    color: #18BEA0;
    margin-right: 3px;
    font-size: 15px;
  }
  p {
    color: #18BEA0;
    font-size: 14px;
  }
}

.suggest-genre {
  border: solid $dark-blue;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}
