.navbar-display {
  justify-content: space-between;
  background: $dark-blue;
  margin-bottom: 15px;
  color: white;
  & .logo {
    width: 40px;
  }
}

.navbar-display .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  &:hover{
    color: $dark-gray
  }
}

.navbar-toggler-icon {
  color: white;
}
