.one {
  height: 750px;
  width: 400px;
  color: white;
}

.two {
  height: 650px;
  width: 400px;
  color: white;
}

.three {
  height: 550px;
  width: 400px;
  color: white;
}

.podium {
  background-color: $dark-blue;
}
