<h1>Your Wishlist</h1>

<% if @wishlists.empty? %>
<p>No games added to wishlists yet</p>
<% else %>
<ul class="container"
     data-controller="wishlist">
      <% @wishlists.each do |wishlist| %>
        <li>
          <%= render partial: 'wishlist-card', locals: {wishlist: wishlist} %>
        </li>
      <% end %>
</ul>
<% end %>
