<h1>Your Wishlist</h1>

<% if @wishlists.empty? %>
<p>No games added to wishlists yet</p>
<% else %>
  <% @wishlists.each do |wishlist| %>
   <%= render partial: 'wishlist-card', locals: {wishlist: wishlist} %>
  <% end %>
<% end %>
